@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    background: #fff;
    min-height: 100vh;
    overflow-x: hidden;
}

/* header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 40px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 20px;
    margin: 0 10px;
    font-weight: 600;

}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
    border-radius: 5px;
}

/* Estilos para el enlace de login */
.login-link {
    color: #359381;
    padding: 6px 30px;
    margin: 0 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.login-link:hover {
    background: #359381;
    color: #fff;
    border-radius: 5px;
}

/*  */


.title-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text-name {
    margin: 0;
    color: var(--color-icons);
    font-size: 1.5em;
}


.nameUser {
    display: flex;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    font-size: 1em;
}

.container-prop-items-center {
    /* width: 100%; */
    padding: 0 15%;
}

.border {
    background-color: rgba(90, 96, 116, 0.089);
    border-radius: 10px;
}

.title-item {
    text-align: center;
    padding: 30px 0 0px 0;
}

.horizontal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px;
    gap: 20px;
}

.more {
    cursor: pointer;
}

.linkContact {
    text-decoration: none;
    color: white;
}

.size-img {
    width: 300px;
    border: 10px solid rgba(255, 255, 255, 0.438);
    border-radius: 50%;
}

.info-item {
    transition: all 0.3s ease;
}

.info-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.investigadores {
    border: 15px solid rgba(255, 0, 0, 0.459);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.card-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px 10px;
    gap: 10px;
}

.card-contact>p {
    margin: 0;
}

.mat-icon-contact {
    height: 40px;
    width: 40px;
}

.icon-contact {
    font-size: 40px;
    margin: 0;
    padding: 0;
    color: #06ddf9;
}

.size-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 10px 0;
    padding: 0;
    font-size: 1.8em;
}

p {
    font-size: 1.3em;
    /* background-color: red; */
}

.horizontal-type {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vertical-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    margin: 20px 0;
    text-align: center;
    gap: 10px;
}

.mat-icon {
    height: auto;
    width: auto;
}

.card-contact-message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 10px;
    width: 80%;
    margin: 0 10%;
    color: black;
}

.message {
    width: 90%;
    padding: 10px;
    margin: 0 5%;
    user-select: none;
}

.message:focus {
    outline: transparent;
}

.button-send-message {
    margin: 20px 40px;
    padding: 5px 0;
    border-radius: 10px;
    width: auto;
    border: 1px solid rgb(157, 151, 151);
}

.button-send-message:hover {
    border: 1px solid rgb(109, 108, 108);
    background-color: rgba(207, 206, 206, 0.228);
}

.message-error {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0 10%;
}

.name-inv {
    font-size: 1em;
    text-align: center;
}

.background-five {
    background-color: rgb(31, 26, 26);
    color: white;
}

@media only screen and (max-width: 1000px) {
    header {
        padding: 30px 5%;
    }

    .title-item {
        margin: 0;
    }

    .menu-inicio {
        display: none;
    }

    .horizontal-content {
        flex-direction: column;
        font-size: .9em;
        width: 100%;
        margin: 5px;
        padding: 0;
    }

    .card-contact {
        width: 60%;
        margin: 5px;
        padding: 5px 10px;
        gap: 8px;
        border-top: 1px solid #06ddf9;
    }

    .container-prop-items-center {
        padding: 10px 10px;
    }

    p {
        text-align: center;
    }

    .horizontal-type {
        display: flex;
        flex-direction: column;
    }

    .card-contact-message {
        margin: 20px 0;
    }

    .message {
        width: 98%;
        padding: 10px;
        margin: 0 1%;
        user-select: none;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 10px 0;
    }

    .navigation.active {
        display: flex;
    }

    .navigation a {
        padding: 10px 20px;
    }

    .menu-toggle {
        display: block;
    }
}