<body>
    <header class="header">PROYECTOS</header>
    <div class="projects-container">
        <div class="project">
            <h2 class="project-title">Convivencia y paz</h2>
            <p class="project-description">Desarrollo de estrategias psicoeducativas y experienciales (cátedra de la
                paz, diplomado en liderazgo para la paz, taller experiencial A®memos la paz, para la promoción de una
                cultura de paz y el establecimiento de la convivencia pacífica en las escuelas y contextos comunitarios.
            </p>
        </div>
        <div class="project">
            <h2 class="project-title">Cognición y desarrollo multidimensional</h2>
            <p class="project-description">Evaluación y fortalecimiento de los procesos, competencias y habilidades
                cognitivas mediante la ejecución de programas y estrategias que favorecen el desarrollo humano
                multidimensional.</p>
        </div>
        <div class="project">
            <h2 class="project-title">Violencia, Escuela y contexto</h2>
            <p class="project-description">Asesoramiento en programas de investigación intervención orientados a mitigar
                el impacto de los factores socioestructurales como la pobreza, la violencia, el microtráfico y la
                desigualdad sobre las dinámicas educativas.</p>
        </div>
    </div>
</body>