body {
    background-color: #F4F1EB;
}

.info-box {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 10px auto;
    background-color: #76A5AF ; /* Color de fondo suave #8C8FAD*/
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 2px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    font-size: 18px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease; /* Transición para el efecto hover */
}